
*{
  margin: 0;
  padding: 0;
}
.listadoNavbar{
  padding: 20px 0;
  background-color: rgb(206, 206, 206);
}
.listadoNavbar ul{
  display: flex;
  vertical-align: center;
  justify-content: center;
}
.liLink {
  width: 150px;
  list-style-type: none;
  margin-left: 20px;
}
.liLink a:link {
  color: red;
}
.saluditop{
  text-align: center;
  margin: 20px 0;
}

/*cardsProductos*/
.ImgProduct{
  width: 100%;
  border-radius: 20px;
}
.containerProducto{
  border-radius: 20px;
  padding: 20px;
  margin: 30px 2px;
}
.categoriaProducto{
  color: #868686;
  font-size: 1rem;
}
.precioProducto{
  text-align: left;
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: red;
  font-weight: bold;
}
.addProducto{
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  background-color: red;
  border: none;
  margin-bottom: 30px;
  transition: .5s;
}
.addProducto:hover{
  color: white;
  background-color: black;
  transition: .5s;
}
/*cardsProductos*/

